<h4>Show Reviews</h4>

<% allreviews.forEach(function(review) { %>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5><a href="/shows/reviews/<%= review.showId %>"><%= review.show.title %></a></h5>
				<h6>By: <a href="/users/<%= review.user.id %>"><%= review.user.name %></a></h6>
				<p><%= review.title %></p>
				<p><%= review.body %></p>
			</div>
		</div>
	</div>
<% }); %>