<% if (shows.length != false) { %>
	<h4>UPCOMING <%= q %> SHOWS:</h4>
	
	<div class="container">
	<% shows.forEach(function(show) { %>
		<div class="row">
			<div class="col s6">
				<img src = "<%= show.artists[0].thumb_url %>">
			</div>
			<div class="col s6">
				<h5><%= show.title %></h5>
				<p>Venue: <%= show.venue.name %></p>
				<p>Date: <%= show.formatted_datetime %></p>
				<% if (show.ticket_type !== "Sold Out") { %>
					<p>Ticket Status: <%= show.ticket_status %></p>
				<% } %>
				<% if (show.ticket_type == "Sold Out") { %>
					<p class="sold-out red-text">TICKETS ARE SOLD OUT FOR THIS SHOW</p>
				<% } else { %>
					<p><strong><a href="<%= show.ticket_url %>">Buy Your Tickets!</a></strong></p>
				<% } %>
				<form action="/shows/<%= currentUser.id %>" method="POST">
				<input type="hidden" name="addArtist" value="<%= show.artists[0].name %>" />
				<input type="hidden" name="addTitle" value="<%= show.title %>" />
				<input type="hidden" name="addVenue" value="<%= show.venue.name %>" />
				<input type="hidden" name="addDate" value="<%= show.formatted_datetime %>" />
				<input type="hidden" name="addImage" value="<%= show.artists[0].thumb_url %>" />
				<input type="hidden" name="addOnSaleDate" value="<%= show.on_sale_datetime %>" />
				<input type="hidden" name="addTicketType" value="<%= show.ticket_type %>" />
				<input type="hidden" name="addTicketStatus" value="<%= show.ticket_status %>" />
				<input type="hidden" name="addTicketUrl" value="<%= show.ticket_url %>" />
				<% if (currentUser) { %>
					<button type="submit" class="btn">I'm There!</button>
					<a href="/search" class="btn">New Search</a>
				<% } %>
				</form>
				<% if (!currentUser) { %>
					<p class="flow-text">
					<a href="/auth/signup" class="btn">SIGNUP</a>  OR  
					<a href="auth/login" class="btn">LOGIN</a><br>
					To RSVP to shows!<br>
					<a href="/search" class="btn">NEW SEARCH</a></p>
				<% } %>
			</div>
		</div>
	<% }); %>
<% } else { %>
<div class="container">
	<div class="row">
			<img src="../img/horns.jpg" class="header-img"/>
		</div>
	</div>
	<div class="row">
		<div class="col s8 offset-s2 noshows">
			<h5>Sorry, there are no local <strong><%= q %></strong> shows anytime soon. Please start a <a href="/search">NEW SEARCH</a>, or maybe you could check out <a href="shows/">POPULAR SHOWS</a> for some ideas.</h5>
		</div>
	</div>
<% } %>
</div>