<% if (shows.length != false) { %>
	<h2>Upcoming <%= q %> Shows:</h2>
	<% shows.forEach(function(show) { %>
		<div class="well">
			<img src = "<%= show.artists[0].thumb_url %>">
			<h3>Title: <%= show.title %> </h3>
			<p>Venue: <%= show.venue.name %></p>
			<p>Date: <%= show.formatted_datetime %></p>
			<p>Ticket Status: <%= show.ticket_status %></p>
			<form action="/shows/<%= currentUser.id %>" method="POST">
			<input type="hidden" name="addArtist" value="<%= show.artists[0].name %>" />
			<input type="hidden" name="addTitle" value="<%= show.title %>" />
			<input type="hidden" name="addVenue" value="<%= show.venue.name %>" />
			<input type="hidden" name="addDate" value="<%= show.formatted_datetime %>" />
			<input type="hidden" name="addImage" value="<%= show.artists[0].thumb_url %>" />
			<button type="submit" class="btn btn-warning">I'm There!</button>
			</form>
		</div>
	<% }); %>
<% } else { %>
<h3>Sorry, there are no local <%= q %> shows anytime soon. Check back later!
<% } %>
<div class="home"><a href="/">&larr;Home</a></div>
</div>