<h4>Your Showdown Profile</h4>

<h5><%= profile.name %></h5>
<p class="text-flow"><%= profile.email %></p>


<h5>Shows:</h5>
<% profile.shows.forEach(function(show) { %>
	<p class="text-flow"><%= show.title %></p>
<% }); %>


<h5>Reviews:</h5>
<% profile.reviews.forEach(function(review) { %>
	<%= review.show.title %>

	<p class="text-flow"><%= review.title %><p>
	<p><%= review.body %></p>
<% }); %>

