<h4 class="heading">Ride Shares</h4>

<div class="container">
  <% rides.forEach(function(ride) { %>
    <div class="row">
      <div class="col s8 offset-s2 infoBox">
        <h5><%= ride.show.title %></a></h5>
        <p><a href="/users/<%= ride.user.id %>">Driver: <%= ride.user.name %></a></p>
        <p>Driver's Neighborhood: <%= ride.neighborhood %></p>
        <p>Room for: <b><%= ride.passengers %></b></p>
        <p><%= ride.description %>
      </div>
    </div>
  <% }); %>
</div>